.card {
    width: 90%;

    .name {
        font-family: "Flexo-Demi", arial, sans-serif;
        color: #313131;
        text-transform: uppercase;
        font-size: 145%;
        margin-bottom: 5px;
        text-decoration: none;

    }

}

.img {
    object-fit: contain !important;
}